
/* 
body {
  padding: 0 15px;
} */

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: none;
}

main {
  padding: 15px;
}

header {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

header .fa-youtube{
  color: red;
}

header i {
  font-size: 20px;
  padding: 0 8px;
}


.main-hashtag {
  display: flex;
  color: blue;
}

.main-hashtag li {
  padding: 5px 10px;
}

.main-title {
  margin: 10px 0;
  display: flex;
}

.main-title__text {
  font-size: 22px;
  font-weight: 600;
  margin-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden
}

.main-views {
  font-size: 15px;
  font-weight: 500;
  opacity: .5;
  margin-bottom: 10px;
}

.main-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 18px;
  padding-bottom: 30px;
}

.main-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-icons__icon i{
  font-size: 23px;
  margin: 15px 0;
}

.main-icons__icon i{
  opacity: .6;
}

.main-icons__icon .fa-thumbs-up {
  color: blue;
  opacity: 1;
}

.main-icons__icon span {
  font-size: 14px;
  font-weight: 600;
  
}

.main-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}


.main-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}

.main-profile__column {
  display: flex;
  align-items: center;
}

.main-profile h2 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}

.main-profile h4 {
  opacity: .6;
  font-size: 14px;
  font-weight: 500;
}

.main-profile__column-a {
  font-size: 14px;
  font-weight: 600;
}

.footer-text {
  margin: 8px 0;
}

.footer-row img{
  width: 500px;
  height: 100px;
  margin-right: 10px;
}

.footer-row {
  display: flex;
}

.footer-row__right {
  margin-right: 40px;
  position: relative;
}

.footer-row__right h3 {
  line-height: 21px;
  font-weight: 500;
}

.footer-row__right h5 {
  margin: 3px 0;
  opacity: .5;
  font-size: 15px;
}

.footer-row__right span {
  opacity: .5;
  font-size: 12px;
}

.footer-row__right button {
  position: absolute;
  right: -40px;
  top: 1px;
}
